<h1>
  Current ETF holdings for <%= @current_user.username %>
</h1>

<a href="/holdings/new">
  Add a new holding
</a>

<hr>

<table class="table">
  <tr>

    <th>
      Ticker
    </th>
    
    <th>
      ETF Name
    </th>
    
    <th>
      Best replacement fund
    </th>

    <th>
    </th>
  </tr>

  <% @my_holdings.each do |holding| %>
  <tr>

    <td>
      <%= link_to Etf.find(holding.fund_id).ticker, "/etfs/#{Etf.find(holding.fund_id).id}" %>
    </td>
    
    <td>
      <%= Etf.find(holding.fund_id).name %>
    </td>
    
    <td>
      <%= Etf.find(holding.fund_id).best_match.name %>
      <%= link_to Etf.find(holding.fund_id).best_match.ticker, "/etfs/#{Etf.find(holding.fund_id).best_match.id}" %>
    </td>
    




  </tr>
  <% end %>
</table>
