<h1>
  All ETFs
</h1>

<hr>

<table class="table">
  <tr>

    <th>
      Ticker
    </th>

    <th>
      Name
    </th>

    <th>
      Category
    </th>

    <th>
    </th>
  </tr>

  <% @etfs.each do |etf| %>
  <tr>
    <td>
      <%= etf.id %>
    </td>

    <td>
      <%= etf.ticker %>
    </td>

    <td>
      <%= etf.name %>
    </td>
    
    <td>
      <%= etf.category %>
    </td>

    <td>
      <a href="/etfs/<%= etf.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
