<!-- Validation failure messages -->
<% if @etf.present? %>
  <% if @etf.errors.any? %>
    <% @etf.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new etf
</h1>

<hr>

<form action="/create_etf" method="post">
  <!-- Label and input for ticker -->
  <div class="form-group">
    <label for="ticker">
      Ticker
    </label>

    <input type="text" id="ticker" name="ticker" class="form-control" value="<%= @etf.try(:ticker) %>">
  </div>

  <!-- Label and input for name -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @etf.try(:name) %>">
  </div>

  <!-- Label and input for user_id -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <input type="text" id="user_id" name="user_id" class="form-control" value="<%= @etf.try(:user_id) %>">
  </div>

  <!-- Label and input for rating -->
  <div class="form-group">
    <label for="rating">
      Rating
    </label>

    <input type="text" id="rating" name="rating" class="form-control" value="<%= @etf.try(:rating) %>">
  </div>

  <!-- Label and input for fee -->
  <div class="form-group">
    <label for="fee">
      Fee
    </label>

    <input type="text" id="fee" name="fee" class="form-control" value="<%= @etf.try(:fee) %>">
  </div>

  <!-- Label and input for similarity_ranking -->
  <div class="form-group">
    <label for="similarity_ranking">
      Similarity ranking
    </label>

    <input type="text" id="similarity_ranking" name="similarity_ranking" class="form-control" value="<%= @etf.try(:similarity_ranking) %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create etf
  </button>
</form>

<hr>

<a href="/etfs">
  Go back
</a>
