<h1>
  <%= @etf.name %> (<%= @etf.ticker %>)
</h1>

<a href="/etfs/<%= @etf.id %>/edit">
  Edit etf
</a>

<hr>

<dl>

  <dt>
    Morningstar Analyst Rating
  </dt>
  <dd>
    <%= @etf.rating %>
  </dd>

  <dt>
    Net Expense Ratio
  </dt>
  <dd>
    <%= @etf.fee %>%
  </dd>
  
  <dt>
    Provider
  </dt>
  <dd>
    <%= @etf.provider %>
  </dd>

  <dt>
    Similarity ranking
  </dt>
  <dd>
    <%= @etf.similarity_ranking %>
  </dd>

</dl>

<hr>

<a href="/etfs">
  Go back
</a>
