<h1>
  <%= @etf.name %> (<%= @etf.ticker %>)
</h1>

<hr>

<dl>

  <dt>
    Morningstar Analyst Rating
  </dt>
  <dd>
    <%= @etf.rating %>
  </dd>

  <dt>
    Net Expense Ratio
  </dt>
  <dd>
    <%= @etf.fee %>%
  </dd>
  
  <dt>
    Provider
  </dt>
  <dd>
    <%= @etf.provider %>
  </dd>

  <dt>
    Most Similar ETF to <%= @etf.ticker %>
  </dt>
  <dd>
    <%= @etf.best_match.name %>
    <%= link_to @etf.best_match.ticker, "/etfs/#{@etf.best_match.id}" %>
  </dd>
  
  
  <dt>
    Second Most Similar ETF to <%= @etf.ticker %>
  </dt>
  <dd>
    <%= @etf.second_best_match.name %>
    <%= link_to @etf.second_best_match.ticker, "/etfs/#{@etf.second_best_match.id}" %>
  </dd>
  
  

</dl>

<hr>

<a href="/etfs">
  Go back to full ETF list
</a>
